.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://cherryblossomwatch.com/wp-content/uploads/2019/04/cherry-blossoms-washington-dc-april-01-2019-418x.jpg");
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
    color:black;
}

.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color:black;
}

.registerForm > label{
    margin: 10px 0;

}

.registerInput{
    padding: 10px;
    background-color: #fff;
    border: none;

}

.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color:white;
    border-radius:10px;
    padding: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    
}