.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://static.toiimg.com/photo/77630663.cms?imgsize=852600");
    background-size: cover;
}



.loginTitle{
    font-size: 50px;
    color:aliceblue;
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color:#fff;
}

.loginForm > label{
    margin: 10px 0;

}

.loginInput{
    padding: 10px;
    background-color: #fff;
    border: none;

}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color:white;
    border-radius:10px;
    padding: 10px;
}

.loginButton:disabled{
    cursor:not-allowed;
    background-color: rgb(252,173,173);
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 10px;
    
}